.titolo{
    color: rgb(226, 43, 156);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.paragrafo{
    text-align: center;
    margin: 30px 90px;
}
.capo{
    position: absolute;
    top: 203px;
    left: 450px;
  
}

    .container {
        background-color: rgb(0, 0, 0);
        display: flex; /* Usa Flexbox */
        flex-wrap: wrap;
        align-items: start; /* Allinea verticalmente al centro */
        gap: 20px; /* Spazio tra immagine e testo */
        font-family: Arial, sans-serif;
        width: 400px;
        height: 150px;
        margin-left: 120px;
   
        
    }
  
.container img{
    width: 150px;
    height: 150px;
}
.marco-bianchi {
    color: aliceblue;
}
.dw{
    color: aliceblue;
    margin-bottom: 20px;
}
.container2{
    background-color: rgb(0, 0, 0);
    display: flex; /* Usa Flexbox */
    flex-wrap: wrap;
    flex-direction: ;
    align-items: start; /* Allinea verticalmente al centro */
    gap: 20px; /* Spazio tra immagine e testo */
    font-family: Arial, sans-serif;
    width: 400px;
    height: 150px;
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 50px
    
}
.container2 img{
    width: 150px;
    height: 150px;
    
}
.laura-rossi{
    color: aliceblue;
}
.mm{
    color: antiquewhite;
    margin-bottom: 20px;
}

.container3{
    background-color: rgb(0, 0, 0);
        display: flex; /* Usa Flexbox */
        flex-wrap: wrap;
        align-items: start; /* Allinea verticalmente al centro */
        gap: 20px; /* Spazio tra immagine e testo */
        font-family: Arial, sans-serif;
        width: 400px;
        height: 150px;
        margin-left: 120px;
}
.container3 img{
    width: 150px;
    height: 150px;
 
    
}
.giorgio-verdi{
    color: aliceblue;
}
.vv{
    color: aliceblue;
    margin-bottom: 20px;
}